{% extends 'layouts/application.twig' %}
{% block content %}
    <span class="text-danger"><h3>You are not permitted to do this. Contact with admin</h3></span>
    <span><a href="#">Click Here </a>to Send Message</span>
{% endblock %}