{% extends 'layouts/application.twig' %}

{% block content %}
    {% if session.role.slug == 'super-administrator' %}
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>Administrator Dashboard</h2>
                    <p>Manage your company. Manage your credentials. All in one place to integrate platform
                        with third party tools and libraries.</p>
                    <p>
                        <a class="btn btn-primary" href="<?php echo base_url()?>users/home"
                           title="Add a new user">
                            <i class="fa fa-plus"></i>
                            Add User
                        </a>
                        <a class="btn btn-warning" href="<?php echo base_url()?>users/lists"
                           title="Users List">
                            <i class="fa fa-list"></i>
                            Users List
                        </a>
                        <a class="btn btn-info" href="<?php echo base_url()?>roles/lists"
                           title="Check security settings">
                            <i class="fa fa-user-secret"></i>
                            Roles & Permissions
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Welcome,
                            {{ session.authinfo.profile.first_name }}  {{ session.authinfo.profile.last_name }}
                        </h3>
                    </div>
                    <div class="panel-body text-center" id="leftPanel">
                        <a class="btn btn-primary btnMargin"
                           href="<?php echo base_url()?>users/profile/<?php echo $userDetails['user']->uuid; ?>"
                           title="Update your profile"><i class="fa fa-info"></i>
                            Update Profile
                        </a>
                        <a class="btn btn-danger btnMargin"
                           href="<?php echo base_url()?>settings/security/<?php echo $userDetails['user']->uuid;''?>"
                           title="Change account password">
                            <i class="fa fa-user-secret"></i>
                            Change Password
                        </a>
                        <a class="btn btn-info btnMargin"
                           href="<?php echo base_url()?>settings/security/<?php echo $userDetails['user']->uuid;''?>"
                           title="Check security settings">
                            <i class="fa fa-shield"></i>
                            Review Security Settings
                        </a>
                        <a class="btn btn-success btnMargin"
                           href="<?php echo base_url()?>settings/profile_picture/<?php echo $userDetails['user']->uuid;''?>"
                           title="Change Profile Picture">
                            <i class="fa fa-user"></i>
                            Change Profile Picture
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Important Information</h3>
                    </div>
                    <div class="panel-body" id="rightPanel">
                        <div class="notice notice-danger">
                            <a target="_blank" href="https://besofty.com/">
                                Learn more
                            </a>
                            To assign role permission
                        </div>
                        <div class="notice notice-info">
                            <a target="_blank" href="https://besofty.com/">
                                Learn more
                            </a>
                            To assign role permission
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}